@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #232023;
}

.etch-a-sketch-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.etch-a-sketch-body .heading {
    margin-top: 40px;
}

.etch-a-sketch-body .heading p {
    font-family: 'Handjet', cursive;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

